<div>
  <div class="bg-white">
    <header>
      <nav class="max-w-5xl mx-auto pt-5 flex item-center justify-between">
        <div class="flex items-center space-x-5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7"
            viewBox="0 0 24 24"
          >
            <path d="M24 22h-24l12-20z" />
          </svg>
          <span
            class="inline-flex items-center space-x-2 text-sm leading-5 font-medium"
          >
            <a href="vercel" class="inline-flex items-center space-x-2">
              <app-avatar></app-avatar>
              <span>I, robot!</span>
            </a>
            <button
              type="button "
              class="inline-flex items-center border-transparent border hover:border-gray-200 hover:bg-gray-50 transition ease-in-out duration-150 rounded-sm"
            >
              <svg
                class="w-6 h-6 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 9l4-4 4 4m0 6l-4 4-4-4"
                ></path>
              </svg>
            </button>
          </span>
        </div>

        <div>
          <button type="button">Feedback</button>
          <a href="#">Blog</a>
          <a href="#">Support</a>
          <a href="#">Docs</a>
          <button type="button">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"
              />
            </svg>
          </button>
          <button type="button">
            <app-avatar></app-avatar>
          </button>
        </div>
      </nav>
      <nav></nav>
    </header>
  </div>
</div>
