<div>
  <div class="bg-white">
    <header class="space-y-2">
      <nav class="max-w-5xl mx-auto pt-4 flex item-center justify-between">
        <div class="flex items-center space-x-5">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7"
              viewBox="0 0 24 24"
            >
              <path d="M24 22h-24l12-20z" />
            </svg>
          </a>
          <span
            class="inline-flex items-center space-x-2 text-sm leading-5 font-medium"
          >
            <a href="vercel" class="inline-flex items-center space-x-2">
              <app-avatar></app-avatar>
              <span>I, robot!</span>
            </a>
            <button
              type="button "
              class="inline-flex items-center border-transparent border hover:border-gray-200 hover:bg-gray-50 transition ease-in-out duration-150 rounded-sm"
            >
              <svg
                class="w-6 h-6 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 9l4-4 4 4m0 6l-4 4-4-4"
                ></path>
              </svg>
            </button>
          </span>
        </div>

        <div class="flex items-center space-x-4">
          <div class="flex items-center space-x-4">
            <button
              type="button"
              class="border rounded px-3 py-1.5 border-gray-200 text-sm leading-5 text-gray-500 hover:border-black transition ease-in-out duration-150"
            >
              Feedback
            </button>
            <a
              class="text-sm leading-5 text-gray-500 hover:text-black transition ease-in-out duration-150 inline-block"
              href="#"
              >Blog</a
            >
            <a
              class="text-sm leading-5 text-gray-500 hover:text-black transition ease-in-out duration-150 inline-block"
              href="#"
              >Support</a
            >
            <a
              class="text-sm leading-5 text-gray-500 hover:text-black transition ease-in-out duration-150 inline-block"
              href="#"
              >Docs</a
            >
          </div>
          <button type="button">
            <svg
              class="h-5 w-5 text-gray-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"
              />
            </svg>
          </button>
          <button type="button">
            <app-avatar></app-avatar>
          </button>
        </div>
      </nav>

      <div class="max-w-5xl mx-auto">
        <nav class="flex text-sm leading-5 space-x-4">
          <a class="py-3 px-0.5 text-black border-b-2 border-black" href="#"
            >Overview</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Projects</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Integrations</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Activity</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Domains</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Usage</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Settings</a
          >
        </nav>
      </div>
    </header>
  </div>
</div>
