<div>
  <div class="bg-white">
    <header class="space-y-2 border-b border-gray-200 space-y-2">
      <nav class="max-w-5xl mx-auto pt-4 px-6 flex item-center justify-between">
        <div class="flex items-center space-x-4">
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-7 w-7 text-gray-800"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path d="M24 22h-24l12-20z" />
            </svg>
          </a>
          <span class="text-3xl text-gray-200 font-thin">/</span>
          <span
            class="inline-flex items-center space-x-2 text-sm leading-5 font-medium"
          >
            <a href="vercel" class="inline-flex items-center space-x-2">
              <app-avatar></app-avatar>
              <span>I am robot!</span>
            </a>
            <button
              type="button "
              class="inline-flex items-center border-transparent border hover:border-gray-200 hover:bg-gray-50 transition ease-in-out duration-150 rounded-sm"
            >
              <svg
                class="w-6 h-6 text-gray-500"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 9l4-4 4 4m0 6l-4 4-4-4"
                ></path>
              </svg>
            </button>
          </span>
        </div>

        <div class="flex items-center space-x-4">
          <div class="flex items-center space-x-4">
            <button
              type="button"
              class="border rounded px-3 py-1.5 border-gray-200 text-sm leading-5 text-gray-500 hover:border-black transition ease-in-out duration-150"
            >
              Feedback
            </button>
            <a
              class="text-sm leading-5 text-gray-500 hover:text-black transition ease-in-out duration-150 inline-block"
              href="#"
              >Blog</a
            >
            <a
              class="text-sm leading-5 text-gray-500 hover:text-black transition ease-in-out duration-150 inline-block"
              href="#"
              >Support</a
            >
            <a
              class="text-sm leading-5 text-gray-500 hover:text-black transition ease-in-out duration-150 inline-block"
              href="#"
              >Docs</a
            >
          </div>
          <button type="button">
            <svg
              class="h-5 w-5 text-gray-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                d="M6 12c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3zm9 0c0 1.657-1.343 3-3 3s-3-1.343-3-3 1.343-3 3-3 3 1.343 3 3z"
              />
            </svg>
          </button>
          <button type="button">
            <app-avatar></app-avatar>
          </button>
        </div>
      </nav>

      <div class="max-w-5xl mx-auto px-6">
        <nav class="-mb-px flex text-sm leading-5 space-x-4">
          <a class="py-3 px-0.5 text-black border-b-2 border-black" href="#"
            >Overview</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Projects</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Integrations</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Activity</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Domains</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Usage</a
          >
          <a
            class="py-3 px-0.5 text-gray-500 hover:text-black transition duration-140 ease-in-out border-b-2 border-transparent"
            href="#"
            >Settings</a
          >
        </nav>
      </div>
    </header>

    <div
      class="max-w-5xl mx-auto flex items-start justify-between px-6 pt-14 pb-28"
    >
      <div class="flex space-x-8">
        <img
          class="w-24 h-24 rounded-full border border-gray-100"
          src="http://robohash.org/vercel"
        />
        <div class="flex flex-col justify-between space-y-4">
          <div class="flex items-center space-x-4">
            <h1 class="text-4xl leading-10 font-bold">I am Robot!</h1>
            <span
              class="leading-5 text-xs border border-gray-200 inline-flex rounded-lg px-2 bg-gray-50 text-black font-medium tracking-wide"
              >HOBBY</span
            >
          </div>

          <div>
            <dl>
              <dt
                class="text-xs leading-5 text-gray-500 uppercase tracking-wide font-medium"
              >
                Git integration
              </dt>
              <dd
                class="flex items-center space-x-2 text-sm leading-5 font-medium"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-3 w-3"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                  />
                </svg>
                <span>iamrobot</span>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="flex space-x-6">
        <a
          class="text-sm inline-flex leading-5 px-6 py-2 bg-white text-gray-500 font-medium border border-gray-200 rounded-sm hover:border-black hover:text-black transition ease-in-out duration-150"
          href="vercel"
          >Invite Team</a
        >
        <a
          class="text-sm inline-flex leading-5 px-6 py-2 font-medium bg-black border rounded-sm border-transparent text-white hover:bg-white hover:border-black hover:text-black transition ease-in-out duration-150"
          href="vercel"
          >Import Project</a
        >
      </div>
    </div>
  </div>
</div>
