<div class="bg-white">
  <div class="bg-gray-100 py-16 px-4">
    <h2 class="text-2xl leading-8 font-extrabold tracking-tight text-gray-900">
      Lorem, ipsum dolor.
    </h2>
    <p class="mt-4 text-lg leading-6 text-gray-500">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae quibusdam
      quisquam voluptas? Sint, debitis eaque!
    </p>
    <dl class="mt-8 text-base leading-6 text-gray-500">
      <div>
        <dt>Postal Address</dt>
        <dd>
          <p>742 Evergreen Terrace</p>
          <p>Springfield, OR 123456</p>
        </dd>
      </div>

      <div class="mt-6">
        <dt class="sr-only">Phone number</dt>
        <dd class="flex">
          <svg
            class="flex-shrink-0 h-6 w-6 text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"
            ></path>
          </svg>
          <span class="ml-3">+1 (555) 123-4567</span>
        </dd>
      </div>

      <div class="mt-3">
        <dt class="sr-only">Email</dt>
        <dd class="flex">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="flex-shrink-0 h-6 w-6 text-gray-400"
          >
            <circle cx="12" cy="12" r="4"></circle>
            <path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path>
          </svg>

          <span class="ml-3">example@email.com</span>
        </dd>
      </div>
    </dl>
    <p class="mt-6 text-base leading-6 text-gray-500">
      Lorem, ipsum dolor.
      <a class="font-medium text-gray-700 underline" href="#"
        >View all job openings</a
      >
    </p>
  </div>
  <div class="bg-white py-16 px-4">
    <form class="grid grid-cols-1 row-gap-6">
      <div>
        <label for="full_name" class="sr-only">Full name</label>
        <div class="relative rounded-md shadow-sm">
          <input
            id="full_name"
            class="form-input block w-full placeholder-gray-500 py-3 px-4 transition ease-in-out duration-150"
            placeholder="Full name"
          />
        </div>
      </div>
      <div>
        <label for="email" class="sr-only">Email</label>
        <div class="relative rounded-md shadow-sm">
          <input
            id="email"
            type="email"
            class="form-input block w-full placeholder-gray-500 py-3 px-4 transition ease-in-out duration-150"
            placeholder="Email"
          />
        </div>
      </div>
      <div>
        <label for="phone" class="sr-only">Phone</label>
        <div class="relative rounded-md shadow-sm">
          <input
            id="phone"
            type="phone"
            class="form-input block w-full placeholder-gray-500 py-3 px-4 transition ease-in-out duration-150"
            placeholder="Phone"
          />
        </div>
      </div>
      <div>
        <label for="message" class="sr-only">Phone</label>
        <div class="relative rounded-md shadow-sm">
          <textarea
            id="message"
            rows="4"
            type="message"
            class="form-input block w-full placeholder-gray-500 py-3 px-4 transition ease-in-out duration-150"
            placeholder="Message"
          ></textarea>
        </div>
      </div>
      <div class="">
        <span class="inline-flex shadow-sm bg-orange-500">
          <button
            type="submit"
            class="inline-flex justify-center p-2 text-white"
          >
            Submit
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
