<div>
  <header class="flex">
    <div class="flex-shrink-0 px-4 py-3 bg-gray-800">
      <button class="flex items-center">
        <img
          class="object-cover w-8 h-8 border-2 border-gray-400 rounded-full"
          src="http://robohash.org/inbox"
        />
        <span class="ml-4 text-sm font-medium text-white">T1000</span>
        <svg
          class="w-4 h-4 ml-10 text-gray-400 stroke-current"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
        >
          <path
            d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"
          />
        </svg>
      </button>
    </div>
    <div class="flex-1 bg-gray-700">
      <div></div>
      <div></div>
    </div>
  </header>
  <div></div>
  <main>
    <div></div>
    <div></div>
  </main>
</div>
