<app-toolbar [title]="'Angular Tailwind Components'">
  <ul class="flex">
    <li
      class="px-2"
      routerLink=""
      routerLinkActive=""
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Components
    </li>
    <li class="px-2" routerLink="directives" routerLinkActive="">Directives</li>
    <li class="px-2" routerLink="pricing" routerLinkActive="">Pricing</li>
    <li class="px-2" routerLink="services" routerLinkActive="">Services</li>
    <li class="px-2" routerLink="pipes" routerLinkActive="">Pipes</li>
    <li class="px-2" routerLink="other" routerLinkActive="">Other</li>
  </ul>
</app-toolbar>

<main class="p-3">
  <router-outlet></router-outlet>
</main>
