<app-toolbar [title]="'Angular Tailwind Components'">
  <ul class="flex justify-between mt-1">
    <li
      class=""
      routerLink=""
      routerLinkActive="border-b-2"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Components
    </li>
    <li routerLink="directives" routerLinkActive="border-b-2">Directives</li>
    <li routerLink="pricing" routerLinkActive="border-b-2">Pricing</li>
    <li routerLink="vercel" routerLinkActive="border-b-2">Vercel</li>
    <li routerLink="services" routerLinkActive="border-b-2">Services</li>
    <li routerLink="pipes" routerLinkActive="border-b-2">Pipes</li>
    <li routerLink="other" routerLinkActive="border-b-2">Other</li>
  </ul>
</app-toolbar>

<main class="p-3">
  <router-outlet></router-outlet>
</main>
