<app-toolbar [title]="'Angular Tailwind Components'">
  <ul class="flex justify-between mt-1">
    <li
      class=""
      routerLink=""
      routerLinkActive=""
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Components
    </li>
    <li routerLink="directives" routerLinkActive="">Directives</li>
    <li routerLink="pricing" routerLinkActive="">Pricing</li>
    <li routerLink="services" routerLinkActive="">Services</li>
    <li routerLink="pipes" routerLinkActive="">Pipes</li>
    <li routerLink="other" routerLinkActive="">Other</li>
  </ul>
</app-toolbar>

<main class="p-3">
  <router-outlet></router-outlet>
</main>
