<div data-cy="accordion-component" class="shadow-md">
  <div *ngFor="let item of items" class="border-b">
    <div
      data-cy="accordion-title"
      class="flex items-center justify-between p-2 bg-gray-100 select-none"
      (click)="toggle(item)"
    >
      <h4>{{ item.title }}</h4>
      <svg
        [ngClass]="{ '-rotate-180 transform': item.isExpanded }"
        class="transition duration-500 ease-in-out text-blue-600"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M6 9l6 6 6-6" />
      </svg>
    </div>
    <div
      data-cy="accordion-content"
      class="p-3 border-t"
      [class.hidden]="!item.isExpanded"
    >
      <p>{{ item.content }}</p>
    </div>
  </div>
</div>
